@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@200;300;400;500;600&display=swap');

:root { 
    --main-white: #eaeef1;
}


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
  
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}


.main > * {
  position: relative;
}
.container {
  width:80%;
  max-width: 1440px;
  margin:0 auto;
}
body,html,#root,#root .App {
  height:100%;
}

nav {
  text-align: center;
  position: relative;
  font-size: 1.1rem;
}
nav img {
  width:auto;
  height:40px;
}
a {
  text-decoration: none;
  color:#eaeef1;
  transition: ease-in-out 150ms;
}
nav a:hover{
  color:#dd0c0b;
}
.nav-content {
  display:flex;
  justify-content: space-between;
  padding:35px 0;
  align-items: center;
  
}
.nav-content .nav-left, .nav-right {
  display:flex;
}
.main {
  height:100%;
}
.nav-active { 
  color:#dd0c0b;
}

.nav-content .nav-right a+a{
  margin-left:45px;
}

.slider-content {
  height:500px;
  width:100%;
}
.background-slider {
  width:100%;
  height:100%;
  position: absolute;
  z-index: -1;
  
  object-fit: contain;
  background-position: center;
}
.overlay { 
  
  width:100%;
  height:100%;
  opacity: 0.3;
  position: absolute;
}
.support-text {
  position: relative;
  color:#d8dbdda6;
}
.main-text {
  font-family: 'Playfair Display';
  padding-bottom: 1rem;
  color:#eaeef1;
  font-size: clamp(2rem,60px, 7rem);
  
}
.landing-text {
  padding:15rem 0;
}
.landing-text span {
  display:block;
}

.cta {
  cursor: pointer;
  margin-top: 2rem;
  color:#d8dbdd;
  border:1px solid #dd0c0b;
  display:inline-block;
  padding:16px 32px;
  position: relative;
  transition: 250ms ease-in-out;
}

.cta:hover {
  background-color: #dd0c0b;
}

.home-body {
  background-color: #0f1014;
}

.car-logos img {
  filter: invert();
  opacity: 0.1;
  height:100px;
  width:auto;
}
.car-logos {
  display:flex;
  justify-content: space-between;
  padding:5rem 0;
}
.hook {
  padding:3rem 0 5rem 0;
  display:flex;
  justify-content: space-between;
}
.hook-main {
  color:#eaeef1;
  width:100%;
  font-size: clamp(1rem, 2vw, 4rem);
  
}
.hook-support {
  color:#d8dbdda6;
  
}
.mini-cta p {
  margin-bottom: 1rem;
}
.mini-cta a {
  color:#dd0c0b;
}
.video-show img{
  width:100%;
}
.statement {
  padding:5rem 0;
}
.statement-main {
  color:#eaeef1;
  
  font-size: clamp(2rem, 2.4vw, 6rem);
  text-align: center;
}
.statement-second {
  color:#d8dbdda6;
  text-align: center;
  margin-top: .5rem;
}
.car-listings {
  padding-bottom: 10rem;
}
.car-listings-content {
  display:flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.price-location {
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.car-info {
  padding:10px 20px;
}
.car-card > img {
  max-width:100%;
  height:300px;
  width:100%;
  object-fit: cover;
  
}

.car-card {
  background-color:#ffffff;
  border-radius: 2px;
  flex: 0 0 30.3%;
}
.price span {
  color:#dd0c0b;
}
.price {
  font-size: clamp(.4rem,1.5vw,2rem);
}
.car-name {
  margin:1rem 0;
}
.buy {
  color: #d6dee1;
  background-color: #dd0c0b;
  padding:1rem .5rem;
  display:inline-block;
  width:100%;
  text-align: center;
  margin-bottom: 10px;
}
.see-all-container{
  margin-top: 4rem;
  text-align: center;
}
.see-all {
  padding:.5rem 2rem;
  background-color: #dd0c0b;
  transition: 1s ease-in-out;
}

.see-all:hover {
  box-shadow: -1px 20px 101px -2px rgba(221,12,11,0.29);
-webkit-box-shadow: -1px 20px 101px -2px rgba(221,12,11,0.29);
-moz-box-shadow: -1px 20px 101px -2px rgba(221,12,11,0.29);
}